<ion-view view-title="Athletes">
  <ion-content>
 		<div class="row responsive-lg ion-list">

	      <div class="col col-80 col-offset-10">
			<div class="row responsive-md" ng-repeat="athlete in athletes" ng-if="$index % 2 === 0">

	          <div class="col col-50 list card" ng-click="selectAthlete({{athlete}})">
	            <ion-item class="item item-avatar item-icon-right">
				    <img ng-src="{{athlete.profile_pic}}" width="100%">
				    <h2>{{athlete.name}}</h2>
				    <p>{{athlete.sport_type}}</p>
				    <img ng-src="img/{{athlete.sport_type}}.png" class="icon">
				</ion-item>

				<div class="item item-body">
					<img ng-src="{{athlete.media[1].url}}" width="100%" />
					<div class="row">
					  <div class="col col-12"></div>
					  <div class="col col-25"><div class="BioMedalGold">{{ athlete.rewards[0].amount }}</div></div>
					  <div class="col col-25"><div class="BioMedalSilver">{{ athlete.rewards[1].amount }}</div></div>
					  <div class="col col-25"><div class="BioMedalBronze">{{ athlete.rewards[2].amount }}</div></div>
					  <div class="col col-12"></div>
					</div>
					<p>{{athlete.description | cut : true : 100}}</p>
				</div>

				<a href="#/app/athletes/{{athlete.id}}" style="text-decoration:none">
					<button class="button button-block button-positive">
				  		PITCHIN'
					</button>
				</a>
	          </div>

	          <div class="col col-50 list card" ng-show="athletes[$index + 1]" ng-click="selectAthlete({{athletes[$index + 1]}})">
				<ion-item class="item item-avatar item-icon-right">
				    <img ng-src="{{athletes[$index + 1].profile_pic}}" width="100%">
				    <h2>{{athletes[$index + 1].name}}</h2>
				    <p>{{athletes[$index + 1].sport_type}}</p>
				    <img ng-src="img/{{athletes[$index + 1].sport_type}}.png" class="icon">
				</ion-item>

				<div class="item item-body">
					<img ng-src="{{athletes[$index + 1].media[1].url}}" width="100%" />
					<div class="row">
					  <div class="col col-12"></div>
					  <div class="col col-25"><div class="BioMedalGold">{{ athlete.rewards[0].amount }}</div></div>
					  <div class="col col-25"><div class="BioMedalSilver">{{ athlete.rewards[1].amount }}</div></div>
					  <div class="col col-25"><div class="BioMedalBronze">{{ athlete.rewards[2].amount }}</div></div>
					  <div class="col col-12"></div>
					</div>
					<p>{{athletes[$index + 1].description | cut : true : 100}}</p>
				</div>

				<a href="#/app/athletes/{{athletes[$index + 1].id}}" style="text-decoration:none">
					<button class="button button-block button-positive">
				  		PITCHIN'
					</button>
				</a>
	          </div>

	        </div>
	      </div>

	    </div>






  </ion-content>
</ion-view>
