<ion-view view-title="Athletes">
  <ion-content>
  <div class="list card">
      <ion-item ng-repeat="athlete in athletes" ng-click="selectAthlete({{athlete}})">
      <div class="item item-body">
    	<div class="item item-avatar">
		    <img src=img/{{athlete.sport_type}}.png>
		    <h2>{{athlete.name}}</h2>
		    <p>{{athlete.sport_type}}</p>
		</div>
		<a href="#/app/athletes/{{athlete.id}}">
		<img class="full-image" ng-src={{athlete.profile_pic}}>
		</a>
		<div class="row row-center">
			<div class="col"><div class= "BioMedalGold">2</div><br><div class= "BioMedalSilver">2</div><br><div class= "BioMedalBronze">1</div></div>
		  <div class="col col-75"><h2>Best Player of the Year!</h2></div>
		</div>
      </ion-item>
  </div>
  </ion-content>
</ion-view>
