<ion-view view-title="Athlete">
  <ion-content>
		<div class="item item-avatar">
		    <img src=img/{{athlete.sport_type}}.png>
		    <p>{{athlete.sport_type}}</p>
		</div>
		<div class="row">
		  <div class="col col-center"><h1>{{athlete.name}}</h1></div>
		  <div class="col col-50"><img ng-src={{athlete.profile_pic}} alt="Logo Image"}}></div>
		</div>
		<div class="row" >
			 <div class="col col-top">{{athlete.description}}</div>
		</div>
		
		<div class="hero-copy">
			<label class="item item-input">
			  <input type="text" placeholder="AMOUNT" ng-model="amount">
			</label>
			<button class="button button-block button-positive" ng-click="pitchin(amount)">
			  PITCHIN'
			</button>
			<div class="embed-responsive embed-responsive-16by9">
				<youtube-video video-url="athlete.media[0].url" class="embed-responsive-item"></youtube-video>
			</div>
		</div>

		<div ng-repeat="sponsor in sponsors">
			<img ng-src="{{sponsor.logo}}"/>
		</div>
  </ion-content>
</ion-view>
