<div class="hero">
<ion-view view-title="Athlete">
  <ion-content>
	<div class="hero-inner">
		<img ng-src={{athlete.profile_pic}} alt="Logo Image">
		<div class="hero-copy">
			<h1>{{athlete.name}}</h1>
			<p>{{athlete.description}}</p>
			<label class="item item-input">
			  <input type="text" placeholder="AMOUNT" ng-model="amount">
			</label>
			<button class="button button-block button-positive" ng-click="pitchin(amount)">
			  PITCHIN'
			</button>
			<div class="embed-responsive embed-responsive-16by9">
				<youtube-video video-url="athlete.media[0].url" class="embed-responsive-item"></youtube-video>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
</div>
