<ion-view view-title="Athlete">
  <ion-content>
		<div class="item item-avatar">
		    <img src=img/{{athlete.sport_type}}.png>
		    <h2>{{athlete.name}}</h2>
		    <p>{{athlete.sport_type}}</p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-top">
		    <a class="tab-item" href="#">
		      <img ng-src="{{sponsors[0].logo}}" class="icon"/>
		      {{sponsors[0].name}}
		    </a>
			<a class="tab-item" href="#">
		      <img ng-src="{{sponsors[1].logo}}" class="icon"/>
		      {{sponsors[1].name}}
		    </a>
		    <a class="tab-item" href="#">
		      <img ng-src="{{sponsors[2].logo}}" class="icon"/>
		      {{sponsors[2].name}}
		    </a>
		</div>

		 <div class="padding">
			 <img ng-src={{athlete.profile_pic}} alt="Profile Image" style="float:left; padding-right:10px; padding-bottom:10px"}}>
			 <p>{{athlete.description}}</p>

		  	<div class="embed-responsive embed-responsive-16by9 row">
				<youtube-video video-url="athlete.media[0].url" class="embed-responsive-item"></youtube-video>
			</div>
		 </div>

		<div>
			<label class="item item-input">
			  <input type="text" placeholder="AMOUNT" ng-model="amount">
			</label>
			<button class="button button-block button-positive" ng-click="pitchin(amount)">
			  PITCHIN'
			</button>
		</div>

<!-- 		<div ng-repeat="sponsor in sponsors" class="item tabs tabs-secondary tabs-icon-top">
			<a class="tab-item" href="#">
				<img ng-src="{{sponsor.logo}}" class="icon"/>
				{{sponsor.name}}
			</a>
		</div> -->


  </ion-content>
</ion-view>
