/* Empty. Add your own CSS if you like */

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.BioMedalSilver{
	background-image: url("/img/2.png");
}

.BioMedalBronze{
	background-image: url("/img/3.png");
}

.BioMedalGold{
	background-image: url("/img/1.png");
}

.BioMedalGold,
.BioMedalSilver,
.BioMedalBronze{
	width:30px;
	height: 32px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-top: 8px;
	text-shadow: 0 0 0.2em #FFF,  0 0 0.3em #FFF,  0 0 0.2em #FFF;
}

map {
  display: block;
  width: 100%;
  height: 50%;
}
.scroll {
  height: 50%;
}